Semantics at-least-once
LoggingLevel full

% OP1 input_ops tweeters.dat rep_fact 2 routing hashing(2) address tcp://localhost:11000/op, tcp://localhost:11001/op operator_spec FILTER 3,=,"www.tecnico.ulisboa.pt"
OP1 input_ops tweeters.dat rep_fact 1 routing random address tcp://localhost:11000/op operator_spec FILTER 3,=,"www.tecnico.ulisboa.pt"
% OP2 input_ops OP1 rep_fact 2 routing random address tcp://localhost:11002/op, tcp://localhost:11003/op operator_spec CUSTOM Custom.dll,QueryFollowersFile,getFollowers
OP2 input_ops OP1 rep_fact 1 routing random address tcp://localhost:11002/op operator_spec CUSTOM Custom.dll,QueryFollowersFile,getFollowers
OP3 input_ops OP2 rep_fact 2 routing hashing(1) address tcp://localhost:11004/op, tcp://localhost:11005/op operator_spec UNIQ 1
% OP3 input_ops OP2 rep_fact 1 routing hashing(1) address tcp://localhost:11004/op operator_spec UNIQ 1
OP4 input_ops OP3 rep_fact 1 routing primary address tcp://localhost:11006/op operator_spec COUNT

Interval OP1 250
Interval OP2 500
Interval OP3 500
Interval OP4 500
Status
Start OP1
Start OP2
Start OP3
Start OP4
Status
Freeze OP2 0
Wait 5000
Unfreeze OP2 0